<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
<body>
    @{
        DateTime d = DateTime.Now;
        string s = Request.Url.ToString();
    }
    @d
    <br />
    @s
</body>
</html>
